* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

img {
    width: 100%;
    display: block;
}

html {
    scroll-behavior: smooth;
}

/* font-family: 'DM Serif Display', serif; */
